body {
  cursor: url("../html/cursor/Normal\ select.cur"), auto;
}

/*  Links (passar o mouse em links) */
a {
  cursor: url("../html/cursor/Link\ select.cur"), pointer;
}

/*  Botões */
button {
  cursor: url("../html/cursor/Link\ select.cur"), pointer !important;
}

/* 🔹 Quando passa o mouse (hover) */
button:hover {
  cursor: url("../html/cursor/Link\ select.cur"), pointer !important;
}

/*  Quando clica */
button:active {
  cursor: url("../html/cursor/Link\ select.cur"), pointer !important;
}
    

/*  Texto (digitar / selecionar) */
input, textarea {
  cursor: url("../html/cursor/Text\ select.cur"), text;
}